SERVICE_HOST=0.0.0.0
SERVICE_PORT=8080

DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=5432
DB_NAME=smartbid
DB_USER=smartbid
DB_PASSWORD=smartbid
DB_SSLMODE=disable

KAFKA_BROKERS=kafka:9092
KAFKA_HOST_PORT=9092
KAFKA_AD_CREATED_TOPIC=ad-created
KAFKA_DLQ_TOPIC=ad-created-dlq
